.contact {
    margin-top: 64px;
    background: white;
    border:  black 0.5px solid;
    &-list {
        padding-left: 160px;
        padding-right: 160px;
        text-align: right;
        font-size: 20px;
        height: 64px;
        line-height: 64px;
    }
}