@import 'vars.scss';

.footer-section {
    background-color: $white;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 50px;
    border-color: white;
    &-header {
        font-size: 100px;
        text-align: left;
        color: $cream;
    }
    &-linkedin, &-github, &-email {
        font-size: 30px;
        color: $cream;
        &:hover {
            font-size: 40px;
        }
    }

}