@import 'vars.scss';

.footer {
    &-section {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10%;
        padding-right: 10%;
        background-color: #8a9a5b;
        color: black;
    }
    &-header {
        font-size: 5rem;    
        margin-bottom: 3rem;
    }   
    &-social {
        font-size: 3rem;
        a {
            color: black;
        }
    }
    &-copyright {
        text-align: right;
        font-size: 3rem;
    }

}