.site-navbar {
    width: 100%;
    background-color: #8a9a5b;
    border: 10px solid black;
    color: black;
}

.navbar {
    &-brand {
        font-size: 5rem;
        font-weight: 500;
        color: black;
    }
    &-toggler {
        font-size: 5rem;
    }
}

.nav {
    &-item {
        font-size: 3rem;
        color: black;
    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
