@import 'vars.scss';
// @include media-breakpoint-up(sm) {
    .skills {
        &-section {
            background-color: #c46500;
            color: black;
            padding-bottom: 4rem;
        }
        &-container {
            padding-left: 10%;
            padding-right: 10%;
        }
        &-header {
            font-size: 3rem;
            padding: 4rem 10%;
        }
        &-button {
            font-size: 1.5rem;
            color: black;
            background-color: #c46500;
            width: 100%;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 0px;
            display: block;
            border: none;
            &-arrow {
                font-size: 1.5rem;
                text-align: right;
                // line-height: 1.5rem;
                // padding-right: 50px;
            }
            &-logo {
                padding-left: 40px;
                text-align: left;
            }
        }
        &-row {
            background-color: #c46500;
            color: black;
            &-header {
                border: $border-style;
            }
        }
        &-text {
            padding-right: 50px;
            padding-left: 50px;
            border-left: $border-style;
            border-right: $border-style;
            font-size: 1rem;
        }
    }
// }