.skills {
    &-section {
        background-color: #b34a00;
        color: black;
    }
    &-header {
        font-size: 5rem;
        padding: 10% 5rem;
    }
    &-button {
        font-size: 3rem;
        color: black;
    }
    &-row {
        background-color: #b34a00;
        color: black;
    }
}