@import 'hero.scss';
@import 'projects.scss';
@import 'vars.scss';
@import 'about.scss';
@import 'contact.scss';
@import '~aos/src/sass/aos.scss';

body {
    background: url('../../white-waves.png') repeat; 
    font-family: 'Cousine', monospace;
    margin: 0px;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}